body {
    background-color: #fff; /* Blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000; /* Negro */
}

.navbar {
    position: sticky;
    top: 0;
    backdrop-filter: blur(45px);
    margin-top: 15px;
    border-radius: 40px;
    background: #fff; /* Blanco */
    padding: 1em;
    text-align: center;
    color: #000; /* Negro */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #000; /* Negro */
    text-decoration: none;
}

.navbar a:hover {
    color: #666; /* Gris oscuro */
}

#importaciones {
    background-color: #fff; /* Blanco */
    border-radius: 15px;
    padding-bottom: 15px;
}

#importaciones h2,
#importaciones h4,
#importaciones h5 {
    padding-top: 15px;
    color: #000; /* Negro */
}

#menos,
#Visitar,
#leer {
    font-size: 15px;
    border-radius: 5px;
    color: #000; /* Negro */
    cursor: pointer;
    background-color: #fff; /* Blanco */
}

#Visitar {
    font-size: 20px;
}

#Visitar:hover,
#leer:hover {
    background-color: #ccc; /* Gris claro */
}

p {
    color: #000; /* Negro */
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    padding-top: 15px;
    color: #000; /* Negro */
}

.descripcion {
    border-radius: 15px;
    background: #fff; /* Blanco */
    padding: 20px;
    margin-top: 20px;
    border-left: 5px solid #181717;
}

.descripcion p {
    text-align: justify;
    line-height: 1.6;
    color: #000; /* Negro */
}

.footer {
    background-color: #fff; /* Blanco */
    color: #000; /* Negro */
    padding: 20px;
    display: flex; /* Establece un layout flexbox */
    flex-direction: column; /* Cambia a columna para móviles */
    align-items: center; /* Centra los elementos horizontalmente */
}

.footer p {
    text-align: center; /* Centra el texto */
    margin-bottom: 10px; /* Espaciado entre secciones */
}

.estudiante {
    font-size: 1em; /* Tamaño de fuente más pequeño */
    color: #000; /* Negro, puedes cambiarlo si deseas otro color */
}

.universidad {
    font-size: 1.2em; /* Tamaño de fuente más grande para universidades */
    color: #000; /* Negro */
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
    .footer {
        flex-direction: row; /* Cambia a fila en pantallas más grandes */
        justify-content: space-around; /* Distribuye los elementos uniformemente */
    }

    .footer p {
        text-align: left; /* Alinea a la izquierda en pantallas grandes */
        margin-bottom: 0; /* Elimina el margen inferior en pantallas grandes */
    }
}
