body {
    background-image: url('/src/IMAGE\ 2024-06-12\ 11:54:27.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    body {
        background-position: center top;
    }
}

@media (min-width: 769px) {
    body {
        background-attachment: fixed;
    }
}