@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.volver a {
    display: inline-block;
    background-color: #2d6bad;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.vovler a:hover {
    background-color: #6227e1;
}


@media (max-width: 768px) {
    h3 {
        font-size: 1.5em;

    }

    p {
        font-size: 0.9em;

    }

    .contenedor {
        max-width: 100%;
        height: auto;
        padding: 10px;

    }

    .img {
        max-width: 100%;
        height: auto;
    }

    .imagenes {
        max-width: 100%;
        height: auto;
    }
}

.Peces {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.contenedor {
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.img-container {
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.imagenes {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.info-container {
    width: 60%;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

/* Agregamos una regla para la clase contenedor en pantalla móvil */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        /* Cambiamos la dirección de flexbox a columna */
    }

    .img-container {
        margin-right: 0;
        /* Quitamos el margen derecho */
        width: 100%;
        /* Ancho del contenedor de imagen al 100% */
    }

    .imagenes {
        width: 100%;
        /* Ancho de la imagen al 100% */
        height: auto;
        /* Alto de la imagen automático */
    }

    .info-container {
        width: 100%;
        /* Ancho del contenedor de texto al 100% */
    }
}